* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

html {
  font-size: 16px;
  color: #4d4d4d;
}

h1 {
  font-weight: bolder;
}

h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

p {
  color: #606060;
}

a {
  text-decoration: none;
  color: inherit;
}

/* -- Colors -- */
.mid-gray {
  color: #a0a0a0;
}

.tar-gray {
  color: #606060;
}

.link-blue {
  color: #0099ff;
}


/* -- Container --*/
.container-left {
  max-width: 60%;
  margin: 0;
}

.container-right {
  max-width: 40%;
  margin: 0;
}

/* --- Header --- */
.header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-header {
  display: none;
}

.header nav {
  padding-right: 1.5rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo img {
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.logo div {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#colmar {
  color: black;
  font-weight: bold;
}

#academy {
  font-weight: 500;
  color: #c0c0c0;
}

nav ul li {
  display: inline;
  padding-left: 1rem;
}

nav ul li a {
  font-size: .875rem;
  font-weight: 500;
}

/* Mobile Header */
@media screen and (max-width: 480px) {
  .header {
    display: none;
  }

  .mobile-header {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

/* --- Banner --- */
.banner {
  background-color: lightgray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner img {
  width: 90%;
  padding: 2rem 1.5rem;
}

.banner-info {
  width: 25%;
}

.banner-info h2 {
  padding: 1.5rem 0;
}

.button {
  color: white;
  font-size: 1rem;
  background-color: #4d4d4d;
  text-align: center;
  width: 80%;
  transition: background 150ms ease-in-out 100ms;
}

.button a {
  display: block;
  height: 100%;
  padding: 1rem 0;
  text-align: center;
}

.button:hover {
  background: #6d6d6d;
}


/* Mobile Banner */
@media screen and (max-width: 480px) {
  .banner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }

  .container-left,
  .container-right {
    max-width: 100%;
    margin: 0;
  }

  .banner img {
    width: 100%;
    padding: 0;
  }

  .banner-info {
    width: 90%;
    padding: 2rem 1rem;
  }

  .banner-info h2 {
    padding-top: 2rem;
  }

  .button {
    width: 100%;
  }
}

/* --- Information --- */
.information-mobile {
  display: none;
}


.information {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.info-left img {
  width: 90%;
  padding: 2rem 1.5rem;
}

.info-right {
  width: 100%;
}

.info-text {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.info-text p {
  width: 85%;
  padding: 1.5rem 0;
}


#top-16 {
  height: 100%;
  padding-top: 1rem;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: opacity 150ms ease-in-out 100ms;
}

.image {
  width: 35%;
}

.image img {
  width: 100%;
  padding: 1rem;
}


#top-image {
  padding: 1rem;
}


.text {
  width: 55%;
}

.text p {
  padding: 0.5rem 0;
}

.text a {
  font-size: 0.875rem;
}

.text a:hover {
  color: mediumblue;
}

#guest {
  background-color: lightgray;
}


/* Mobile Information */
@media screen and (max-width: 480px) {
  .info-left {
    display: none;
  }

  .content {
    display: none;
  }

  .information-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
  }

  .information-mobile img {
    width: 100%;
    height: auto;
  }

  .text {
    width: 100%;
    padding-top: 1rem;
    padding-left: 1rem;
  }

  .guest {
    background-color: white;
    padding-bottom: 2rem;
  }

}
/* --- Course --- */
.courses {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  text-align: center;
  padding-top: 2rem;
}

.course-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4.5rem;
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

#lower-row {
  padding-top: 2rem;
}

.course {
  width: 33%;
  background-color: white;
  transition: opacity 150ms ease-in-out 100ms;
}

.course:hover {
  opacity: 0.75;
}

.middle {
  margin: 0 2rem;
}


.course-image img {
  width: 100%;
  height: auto;

}

.description {
  width: 90%;
  padding-left: 1rem;
}

.description h3 {
  padding: 1rem 0;
}

.description h4 {
  padding: 0.5rem 0;
}

.description p {
  padding-bottom: 1.5rem;
}


.course-mobile {
  display: none;
}


/* Mobile Course */
@media screen and (max-width: 480px) {
  .courses {
    display: none;
  }

  .course-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
  }

  .description {
    width: 100%;
    background-color: lightgray;
    margin-bottom: 0.5rem;
  }

  .description h3 {
    padding: 1rem 1rem 1.5rem;
  }

  .description a {
    display: block;
  }

  .description:hover {
    background-color: #808080;

  }

}

/* --- Thesis --- */
.thesis-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 4.5rem;
}

.thesis-container video {
  cursor: pointer;
  width: 100%;
  height: auto;
  padding: 2rem 1.5rem;
}

.info-text p {
  font-size: 0.875rem;
}

#top-32 {
  padding-top: 2rem;
}

.content:hover {
  opacity: 0.7;
}

.thesis-mobile {
  display: none;
}

/* Mobile Thesis */
@media screen and (max-width: 480px) {
  .thesis {
    display: none;
  }

  .thesis-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .thesis-mobile video {
    cursor: pointer;
    width: 100%;
    height: auto;
    padding-bottom: 1.5rem;
  }
}

/* --- Footer --- */
.footer {
  padding: 1rem 0 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav {
  padding-right: 1.5rem;
}

.copyright {
  padding-left: 1.5rem;
}

/* Mobile Footer */
@media screen and (max-width: 480px) {
  .footer nav {
    display: none;
  }

  .thesis-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    padding: 1rem;
  }
}
