* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

html {
  font-size: 16px;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

p {

}

.container-left {
  max-width: 60%;
  margin: 0;
}

.container-right {
  max-width: 40%;
  margin: 0;
}

.header {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-header {
  display: none;
}

.header nav {
  padding-right: 1.5rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo img {
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.logo div {
  height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#colmar {
  font-weight: bold;
}

#academy {
  font-weight: bold;
  color: lightgray;
}

nav ul li {
  display: inline;
  padding-left: 1rem;
}

nav ul li a {
  color: darkgray;
}

/* Mobile Header */
@media screen and (max-width: 480px) {
  .header {
    display: none;
  }

  .mobile-header {
    height: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* --- Banner --- */
.banner {
  background-color: lightgray;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner-image {
}

.banner img {
  width: 90%;
  padding: 2rem 1.5rem;
}

.banner-info {
  width: 25%;
}

.banner-info h1 {
  font-size: 2rem;
}

.banner-info h2 {
  font-size: 1.5rem;
  padding: 1.5rem 0;
}

.button {
  background-color: darkgray;
  text-align: center;
  padding: 0.5rem 0;
  width: 80%;
}

.button a {
  color: white;
}


/* --- Information --- */
.information {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 2rem;
}

.info-left {
}

.info-left img {
  width: 90%;
  padding: 2rem 1.5rem;
}

.info-text {
  width: 90%;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.info-text p {
  padding: 1.5rem 0;
}

.info-right {
}

#top-16 {
  padding-top: 1rem;
}

#top-32 {
  padding-top: 2rem;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

#top-image {
  padding: 1rem;
}


.text {
  width: 55%;
}

.text p {
  padding: 0.5rem 0;
}

.guest {
  background-color: lightgray;
}

/* --- Course --- */
.course {
  background-color: lightgray;
}

.title {
  text-align: center;
  padding-top: 2rem;
}

.course-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 4.5rem;
}

.row {
  display: flex;
}

.course-content {
  width: 33%;
  background-color: white;

}

.middle {
  margin: 0 2rem;
}

.course-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.course-image img {
  width: 100%;
  height: auto;

}

.description {
  width: 90%;
  padding-left: 1rem;

}

.description h3 {
  padding: 1rem 0;
}

.description h4 {
  color: darkgray;
  padding: 0.5rem 0;
}

.description p {
  color: darkgray;
  padding-bottom: 1.5rem;
}

.lower {
  padding-top: 2rem;
}
/* --- Thesis --- */
.thesis-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem 4.5rem;
}

.info-left video {
  width: 90%;
  padding: 2rem 1.5rem;
}

/* --- Footer --- */
.footer {
  padding: 1rem 0 3rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer nav {
  padding-right: 1.5rem;
}

.copyright {
  padding-left: 1.5rem;
}
